/*
// Copyright 2021 Andrew Conway.
// This file is part of ConcreteSTV.
// ConcreteSTV is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
// ConcreteSTV is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
// You should have received a copy of the GNU Affero General Public License along with ConcreteSTV.  If not, see <https://www.gnu.org/licenses/>.
*/

td {
    min-width: 2em;
}

td.CandidateNameHoriz {
    text-align: center;
    align-items: center;
    justify-content: center;
}

td.CandidateNameVert {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    align-items: center;
    justify-content: center;
}


td.CandidateNameSlanted {
    white-space: nowrap;
    position: relative;
}

td.CandidateNameSlanted > div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
}

td.CandidateNameSlanted > div > div {
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transform: rotate(-45deg);
}

td.CandidateNameSlanted.LastCandidate > div > div {
    border-bottom: 1px solid grey;
}


td.PartyName {
    text-align: right;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

td.FirstCandidate {
    border-left: 1px solid grey;
}

td.LastCandidate {
    border-right: 1px solid grey;
}

td.CandidateNameSlanted.FirstCandidate {
    border-left: none;
}
td.CandidateNameSlanted.LastCandidate {
    border-right: none;
}

td.Elected {
    background: #e0ffe0;
}

td.Eliminated {
    background: #ffe0e0;
}

td.Continuing,td.Elected,td.Eliminated {
    text-align: right;
    padding : 0 2px 0 0;
}
td.BallotPapers {
    color: grey;
}

table {
    border-collapse: collapse;
}

tr.MinorEndCount {
    border-bottom: 1px solid #aaa;
}

tr.MajorEndCount {
    border-bottom: 1px solid #888;
}

div.comment {
    font-style: italic;
}

div.quota {
    font-weight: bold;
}

.hoverable {
    position: relative;
}

table.changes tr {
    border-bottom: 1px solid #aaa;
}
table.changes td {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
.hoverable .tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 125%;
/*    bottom: 125%;
    left: 50%;
    margin-left: -60px; */
    opacity: 0;
    transition: opacity 0.3s;
}
.hoverable:hover .tooltip {
    visibility: visible;
    opacity: 1;
}