
body {
    margin : 0;
}

header {
    background-color:#eee;
    color: blue;
    width:100%;
    height:32px;

}

header a {
    text-decoration: none;
    font-size: 20pt;
    color: blue;
}

header span {
    line-height : 20px;
    height : 20px;
    vertical-align: text-top;
}
footer {
    margin-top: 10px;
    font-size:0.8em;
    background-color:#eee;
    width:100%;
}

span.year {
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
}

span.rules {
    font-weight: bold;
}

a.electorate {
    margin-left: 1em;
}

div#ErrorMessages {
    color: red;
}

.hidden {
    display: none;
}

div#MainBody {
    margin-left: 3px;
    margin-right: 3px;
}

table.rightalign td {
    text-align: right;
}

table.rightalign th {
    text-align: right;
}

input[type=number] {
    appearance : textfield;
    height : 1.2em;
    width : 1.2em;
}
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input.bad {
    background-color : red;
}
div#paperDiv {
    display : flex;
    flex-wrap : wrap;
    align-items : top;
}
div.group {
    display: inline-block;
    width : 17em;
}
@media print {
    .noprint { display:none; }
}
span.NumberBox {
    border-style: groove;
    width: 2em;
}
div.CandidateAndNumber {
    margin-bottom: 5px;
}
